<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beibeiMajor.web.mapper.dao.WebUserDotaReportDao">

    <resultMap type="com.beibeiMajor.web.mapper.po.WebUserDotaReportPo" id="WebUserDotaReportMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="nickName" column="nick_name"/>
        <result property="integral" column="integral" jdbcType="INTEGER"/>
        <result property="winRate" column="win_rate" jdbcType="NUMERIC"/>
        <result property="mvpCount" column="mvp_count" jdbcType="INTEGER"/>
        <result property="kda" column="kda" jdbcType="NUMERIC"/>
        <result property="maxWinCount" column="max_win_count" jdbcType="INTEGER"/>
        <result property="maxLoseCount" column="max_lose_count" jdbcType="INTEGER"/>
        <result property="lastPlayTime" column="last_play_time" jdbcType="TIMESTAMP"/>
        <result property="averageKills" column="average_kills" jdbcType="NUMERIC"/>
        <result property="averageDeaths" column="average_deaths" jdbcType="NUMERIC"/>
        <result property="averageAssists" column="average_assists" jdbcType="NUMERIC"/>
        <result property="goldPerMin" column="gold_per_min" jdbcType="INTEGER"/>
        <result property="xpPerMin" column="xp_per_min" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="WebUserDotaReportMap">
        select
          user_id, integral, win_rate, mvp_count, kda, max_win_count, max_lose_count, last_play_time, average_kills, average_deaths, average_assists, gold_per_min, xp_per_min
        from beibei_major.web_user_dota_report
        where user_id = #{userId}
    </select>

    <sql id="selectWebUserDotaReportVo">
        select user_id, integral, win_rate, mvp_count, kda, max_win_count, max_lose_count, last_play_time, average_kills, average_deaths, average_assists, gold_per_min, xp_per_min from web_user_dota_report
    </sql>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="WebUserDotaReportMap">
        select
          user_id, integral, win_rate, mvp_count, kda, max_win_count, max_lose_count, last_play_time, average_kills, average_deaths, average_assists, gold_per_min, xp_per_min
        from beibei_major.web_user_dota_report
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="WebUserDotaReportMap">
        select
        user_id, integral, win_rate, mvp_count, kda, max_win_count, max_lose_count, last_play_time, average_kills,
        average_deaths, average_assists, gold_per_min, xp_per_min
        from beibei_major.web_user_dota_report
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="integral != null">
                and integral = #{integral}
            </if>
            <if test="winRate != null">
                and win_rate = #{winRate}
            </if>
            <if test="mvpCount != null">
                and mvp_count = #{mvpCount}
            </if>
            <if test="kda != null">
                and kda = #{kda}
            </if>
            <if test="maxWinCount != null">
                and max_win_count = #{maxWinCount}
            </if>
            <if test="maxLoseCount != null">
                and max_lose_count = #{maxLoseCount}
            </if>
            <if test="lastPlayTime != null">
                and last_play_time = #{lastPlayTime}
            </if>
            <if test="averageKills != null">
                and average_kills = #{averageKills}
            </if>
            <if test="averageDeaths != null">
                and average_deaths = #{averageDeaths}
            </if>
            <if test="averageAssists != null">
                and average_assists = #{averageAssists}
            </if>
            <if test="goldPerMin != null">
                and gold_per_min = #{goldPerMin}
            </if>
            <if test="xpPerMin != null">
                and xp_per_min = #{xpPerMin}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into beibei_major.web_user_dota_report(integral, win_rate, mvp_count, kda, max_win_count, max_lose_count, last_play_time, average_kills, average_deaths, average_assists, gold_per_min, xp_per_min)
        values (#{integral}, #{winRate}, #{mvpCount}, #{kda}, #{maxWinCount}, #{maxLoseCount}, #{lastPlayTime}, #{averageKills}, #{averageDeaths}, #{averageAssists}, #{goldPerMin}, #{xpPerMin})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update beibei_major.web_user_dota_report
        <set>
            <if test="integral != null">
                integral = #{integral},
            </if>
            <if test="winRate != null">
                win_rate = #{winRate},
            </if>
            <if test="mvpCount != null">
                mvp_count = #{mvpCount},
            </if>
            <if test="kda != null">
                kda = #{kda},
            </if>
            <if test="maxWinCount != null">
                max_win_count = #{maxWinCount},
            </if>
            <if test="maxLoseCount != null">
                max_lose_count = #{maxLoseCount},
            </if>
            <if test="lastPlayTime != null">
                last_play_time = #{lastPlayTime},
            </if>
            <if test="averageKills != null">
                average_kills = #{averageKills},
            </if>
            <if test="averageDeaths != null">
                average_deaths = #{averageDeaths},
            </if>
            <if test="averageAssists != null">
                average_assists = #{averageAssists},
            </if>
            <if test="goldPerMin != null">
                gold_per_min = #{goldPerMin},
            </if>
            <if test="xpPerMin != null">
                xp_per_min = #{xpPerMin},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from beibei_major.web_user_dota_report where user_id = #{userId}
    </delete>

    <select id="getUserWinAndLose" resultType="com.beibeiMajor.web.mapper.po.WinAndLosePo">
        SELECT
        a.nick_name AS nickName,
        b.account_id AS accountId,
        b.win AS win,
        b.lose AS lose,
        ROUND( ( win / ( win + lose ) * 100 ), 2 ) AS winRate
        FROM
        web_user a
        LEFT JOIN (
        SELECT
        a.account_id AS account_id,
        IFNULL( a.win, 0 ) AS win,
        IFNULL( b.lose, 0 ) AS lose
        FROM
        (
        SELECT
        a.account_id,
        count( a.account_id ) AS win
        FROM
        web_match_player_info a
        LEFT JOIN web_match_detail b ON a.match_id = b.match_id
        WHERE
        ( b.radiant_win = 1 AND <![CDATA[ a.player_slot < 10 ]]> )
        OR ( b.radiant_win = 0 AND <![CDATA[ a.player_slot > 10 ]]> )
        GROUP BY
        a.account_id
        ) a
        LEFT JOIN (
        SELECT
        a.account_id,
        count( a.account_id ) AS lose
        FROM
        web_match_player_info a
        LEFT JOIN web_match_detail b ON a.match_id = b.match_id
        WHERE
        ( b.radiant_win = 1 AND <![CDATA[ a.player_slot > 10 ]]> )
        OR ( b.radiant_win = 0 AND <![CDATA[ a.player_slot < 10 ]]> )
        GROUP BY
        a.account_id
        ) b ON a.account_id = b.account_id UNION
        SELECT
        b.account_id,
        IFNULL( a.win, 0 ),
        IFNULL( b.lose, 0 )
        FROM
        (
        SELECT
        a.account_id,
        count( a.account_id ) AS win
        FROM
        web_match_player_info a
        LEFT JOIN web_match_detail b ON a.match_id = b.match_id
        WHERE
        ( b.radiant_win = 1 AND <![CDATA[ a.player_slot < 10 ]]> )
        OR ( b.radiant_win = 0 AND <![CDATA[ a.player_slot > 10 ]]> )
        GROUP BY
        a.account_id
        ) a
        RIGHT JOIN (
        SELECT
        a.account_id,
        count( a.account_id ) AS lose
        FROM
        web_match_player_info a
        LEFT JOIN web_match_detail b ON a.match_id = b.match_id
        WHERE
        ( b.radiant_win = 1 AND <![CDATA[ a.player_slot > 10 ]]> )
        OR ( b.radiant_win = 0 AND <![CDATA[ a.player_slot < 10 ]]> )
        GROUP BY
        a.account_id
        ) b ON a.account_id = b.account_id
        ) b ON a.account_id = b.account_id
    </select>

    <select id="getUserAverageData" resultType="com.beibeiMajor.web.mapper.po.UserAverageDataPo">
        SELECT
            a.account_id AS accountId,
            b.nick_name AS nickName,
            ROUND( AVG( a.gold_per_min ), 0 ) AS `gpm`,
            ROUND( AVG( a.xp_per_min ), 0 ) AS `xpm`,
            ROUND( AVG( a.kills ), 2 ) AS `kill`,
            ROUND( AVG( a.deaths ), 2 ) AS death,
            ROUND( AVG( a.assists ), 2 ) AS assist,
            ROUND( ( SUM( a.kills ) + SUM( a.assists ) ) / SUM( a.deaths ), 2 ) AS kda
        FROM
            web_match_player_info a
            LEFT JOIN web_user b ON a.account_id = b.account_id
        GROUP BY
	        a.account_id
    </select>

    <update id="batchUpdate" parameterType="java.util.List">
        update web_user_dota_report
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="integral = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.integral != null">
                        when user_id = #{i.userId} then #{i.integral}
                    </if>
                </foreach>
            </trim>
            <trim prefix="win_rate = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.winRate != null">
                        when user_id = #{i.userId} then #{i.winRate}
                    </if>
                </foreach>
            </trim>
            <trim prefix="mvp_count = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.mvpCount != null">
                        when user_id = #{i.userId} then #{i.mvpCount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="kda = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.kda != null">
                        when user_id = #{i.userId} then #{i.kda}
                    </if>
                </foreach>
            </trim>
            <trim prefix="max_win_count = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.maxWinCount != null">
                        when user_id = #{i.userId} then #{i.maxWinCount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="max_lose_count = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.maxLoseCount != null">
                        when user_id = #{i.userId} then #{i.maxLoseCount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="last_play_time = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.lastPlayTime != null">
                        when user_id = #{i.userId} then #{i.lastPlayTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="average_kills = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.averageKills != null">
                        when user_id = #{i.userId} then #{i.averageKills}
                    </if>
                </foreach>
            </trim>
            <trim prefix="average_deaths = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.averageDeaths != null">
                        when user_id = #{i.userId} then #{i.averageDeaths}
                    </if>
                </foreach>
            </trim>
            <trim prefix="average_assists = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.averageAssists != null">
                        when user_id = #{i.userId} then #{i.averageAssists}
                    </if>
                </foreach>
            </trim>
            <trim prefix="gold_per_min = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.goldPerMin != null">
                        when user_id = #{i.userId} then #{i.goldPerMin}
                    </if>
                </foreach>
            </trim>
            <trim prefix="xp_per_min = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.xpPerMin != null">
                        when user_id = #{i.userId} then #{i.xpPerMin}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="i" index="index" >
            user_id = #{i.userId}
        </foreach>
    </update>
    <select id="selectWebUserDotaReportList" parameterType="WebUserDotaReport" resultMap="WebUserDotaReportMap">
        select user_id, integral, win_rate, mvp_count, kda, max_win_count, max_lose_count, last_play_time, average_kills, average_deaths, average_assists, gold_per_min, xp_per_min ,
        (select nick_name from web_user where account_id = w.user_id) as nick_name
        from web_user_dota_report w
        <where>
            <if test="integral != null "> and integral = #{integral}</if>
            <if test="winRate != null "> and win_rate = #{winRate}</if>
            <if test="mvpCount != null "> and mvp_count = #{mvpCount}</if>
            <if test="kda != null "> and kda = #{kda}</if>
            <if test="maxWinCount != null "> and max_win_count = #{maxWinCount}</if>
            <if test="maxLoseCount != null "> and max_lose_count = #{maxLoseCount}</if>
            <if test="lastPlayTime != null "> and last_play_time = #{lastPlayTime}</if>
            <if test="averageKills != null "> and average_kills = #{averageKills}</if>
            <if test="averageDeaths != null "> and average_deaths = #{averageDeaths}</if>
            <if test="averageAssists != null "> and average_assists = #{averageAssists}</if>
            <if test="goldPerMin != null "> and gold_per_min = #{goldPerMin}</if>
            <if test="xpPerMin != null "> and xp_per_min = #{xpPerMin}</if>
        </where>
        order by integral desc
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into web_user_dota_report(user_id, integral, win_rate, mvp_count, kda, max_win_count, max_lose_count, last_play_time, average_kills, average_deaths, average_assists, gold_per_min, xp_per_min)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId}, #{item.integral}, #{item.winRate}, #{item.mvpCount}, #{item.kda}, #{item.maxWinCount}, #{item.maxLoseCount}, #{item.lastPlayTime}, #{item.averageKills}, #{item.averageDeaths}, #{item.averageAssists}, #{item.goldPerMin}, #{item.xpPerMin})
        </foreach>
    </insert>

</mapper>