div#global {
    /*设置宽度，设置百分比可以根据浏览器自适应宽度*/
    width: 100%;
    /*设置高度，950px是设置是实体高度，不能自适应的*/
    height: 800px;
    /*设置背景颜色，方便区分布局*/
    /*background-color: silver;*/
}

/*前面的div可以不用写，#号前面默认有个id，凡事定义了id的标签，都可以用#号来表示*/
/*#heading {*/
    /*width: 100%;*/
    /*height: 100px;*/
    /*background-color: #BB80F7;*/
/*}*/

#content_menu {
    width: 20%;
    height: 700px;
    /*background-color: #F5DEB3;*/
    /*定义浮动，不定义的话，界面会乱*/
    float: left;
}

#content_body {
    width: 80%;
    height: 700px;
    /*background-color: #F7575d;*/
    float: right;
}

#floor {
    /*删除浮动，不然会被其他的浮动给遮住*/
    clear: both;
    height: 100px;
    /*background-color: #8080FF*/
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 5px;
    width: 100%;
}
.box2222{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align:center;
}
.circleImg{
    border-radius: 60px;
    width:120px;
    height:120px;
}

.divTable{
    /*margin-top: 120px;*/
}