<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beibeiMajor.system.mapper.WebDoubleIntegralRecordMapper">
    
    <resultMap type="com.beibeiMajor.system.domain.WebDoubleIntegralRecord" id="WebDoubleIntegralRecordResult">
        <result property="id"    column="id"    />
        <result property="accountId"    column="account_id"    />
        <result property="changeTimes"    column="change_times"    />
        <result property="money"    column="money"    />
        <result property="remark"    column="remark"    />
        <result property="createdTime"    column="created_time"    />
        <result property="createdBy"    column="created_by"    />
    </resultMap>

    <sql id="selectWebDoubleIntegralRecordVo">
        select id, account_id, change_times, money, remark, created_time, created_by from web_double_integral_record
    </sql>

    <select id="selectWebDoubleIntegralRecordList" parameterType="com.beibeiMajor.system.domain.WebDoubleIntegralRecord" resultMap="WebDoubleIntegralRecordResult">
        <include refid="selectWebDoubleIntegralRecordVo"/>
        <where>  
            <if test="accountId != null "> and account_id = #{accountId}</if>
            <if test="changeTimes != null "> and change_times = #{changeTimes}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
        </where>
    </select>
    
    <select id="selectWebDoubleIntegralRecordById" parameterType="Long" resultMap="WebDoubleIntegralRecordResult">
        <include refid="selectWebDoubleIntegralRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWebDoubleIntegralRecord" parameterType="com.beibeiMajor.system.domain.WebDoubleIntegralRecord" useGeneratedKeys="true" keyProperty="id">
        insert into web_double_integral_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">account_id,</if>
            <if test="changeTimes != null">change_times,</if>
            <if test="money != null">money,</if>
            <if test="remark != null">remark,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="createdBy != null">created_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">#{accountId},</if>
            <if test="changeTimes != null">#{changeTimes},</if>
            <if test="money != null">#{money},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="createdBy != null">#{createdBy},</if>
         </trim>
    </insert>

    <update id="updateWebDoubleIntegralRecord" parameterType="com.beibeiMajor.system.domain.WebDoubleIntegralRecord">
        update web_double_integral_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="accountId != null">account_id = #{accountId},</if>
            <if test="changeTimes != null">change_times = #{changeTimes},</if>
            <if test="money != null">money = #{money},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWebDoubleIntegralRecordById" parameterType="Long">
        delete from web_double_integral_record where id = #{id}
    </delete>

    <delete id="deleteWebDoubleIntegralRecordByIds" parameterType="String">
        delete from web_double_integral_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insertUpdateToDefaultDoubleTimesRecord">
        INSERT INTO `web_double_integral_record`(account_id,change_times,money,remark,created_time,created_by)
        SELECT
        account_id,(2-double_integral_times),0,'系统初始化',UNIX_TIMESTAMP(),'系统'
        FROM `web_user` WHERE double_integral_times !=2
    </insert>
    <select id="selectByTodayAndAccountId" resultMap="WebDoubleIntegralRecordResult">
        select * from web_double_integral_record
        where account_id = #{accountId}
        and created_time >=#{start}
        and #{end} >created_time
    </select>

    <select id="selectUnsettledRecordList" resultMap="WebDoubleIntegralRecordResult">
        select id, account_id, change_times, money, remark, created_time, created_by from web_double_integral_record where settlement_status = 0
    </select>

    <update id="batchUpdateDoubleAccount" parameterType="java.util.List">
        update web_double_integral_record
        set settlement_status = 1
        where
        <foreach collection="list" separator="or" item="id" index="index" >
            id = #{id}
        </foreach>
    </update>

</mapper>