<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增比赛玩家详情')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-info-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="accountId">
                        <option th:each="list:${userList}" th:value="${list.accountId}"
                                th:text="${list.nickName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">比赛ID：</label>
                <div class="col-sm-8">
                    <input name="matchId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否胜利：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="playerSlot">
                        <option value="50">天辉赢，该用户赢</option>
                        <option value="5">天辉输，该用户赢</option>
                        <option value="6">天辉赢，该用户输</option>
                        <option value="60">天辉输，该用户输</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">英雄：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="heroId">
                        <option th:each="list:${heroList}" th:value="${list.heroId}"
                                th:text="${list.zhName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的击杀数：</label>
                <div class="col-sm-8">
                    <input name="kills" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的死亡数：</label>
                <div class="col-sm-8">
                    <input name="deaths" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的助攻数：</label>
                <div class="col-sm-8">
                    <input name="assists" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的正补数：</label>
                <div class="col-sm-8">
                    <input name="lastHits" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的反补数：</label>
                <div class="col-sm-8">
                    <input name="denies" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的GPM：</label>
                <div class="col-sm-8">
                    <input name="goldPerMin" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的XPM：</label>
                <div class="col-sm-8">
                    <input name="xpPerMin" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的等级：</label>
                <div class="col-sm-8">
                    <input name="level" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的英雄伤害：</label>
                <div class="col-sm-8">
                    <input name="heroDamage" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的防御塔伤害：</label>
                <div class="col-sm-8">
                    <input name="towerDamage" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的治疗量：</label>
                <div class="col-sm-8">
                    <input name="heroHealing" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的总金钱：</label>
                <div class="col-sm-8">
                    <input name="gold" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家花费的金钱：</label>
                <div class="col-sm-8">
                    <input name="goldSpent" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的英雄伤害占比：</label>
                <div class="col-sm-8">
                    <input name="scaledHeroDamage" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的防御塔伤害占比：</label>
                <div class="col-sm-8">
                    <input name="scaledTowerDamage" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">该玩家的英雄治疗占比：</label>
                <div class="col-sm-8">
                    <input name="scaledHeroHealing" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "web/info"
        $("#form-info-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-info-add').serialize());
            }
        }
    </script>
</body>
</html>