<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增比赛详情')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-detail-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">联赛ID：</label>
                <div class="col-sm-8">
                    <input name="leagueId" class="form-control" type="text" value="14045">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">比赛ID：</label>
                <div class="col-sm-8">
                    <input name="matchId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">获胜方：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="radiantWin">
                        <option value="1">天辉赢</option>
                        <option value="0">夜宴赢</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">比赛开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="startDate" class="form-control" id="datetimepicker-startTime" placeholder="yyyy-MM-dd HH:mm" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">天辉得分：</label>
                <div class="col-sm-8">
                    <input name="radiantScore" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">夜宴得分：</label>
                <div class="col-sm-8">
                    <input name="direScore" class="form-control " type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        $(function(){
            $("#datetimepicker-startTime").datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true
            });
        });
    </script>
    <script th:inline="javascript">
        var prefix = ctx + "web/detail"
        $("#form-detail-add").validate({
            focusCleanup: true
        });
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-detail-add').serialize());
            }
        }
    </script>
</body>
</html>