<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户积分列表')" />
</head>
<p><img th:src="${user.avatar}"></html></p>
<p >当前登录：<span th:text="${user.nickName}"></span></p>
<p >积分：<span th:text="${info.integral}"></span></p>
<p >胜率：<span th:text="${info.winRate}"></span></p>
<p >MVP次数：<span th:text="${info.mvpCount}"></span></p>
<p th:if="${info.integral >=3300 }"><span style="color: red">当前级别：SSR-特等马</span></p>
<p th:if="${info.integral <3300 &&  user.integral >=2800}"><span style="color: #8a1f11">当前级别：SR-上等马</span></p>
<p th:if="${info.integral <2800 }"><span style="color: #00B83F">当前级别：R-中等马</span></p>
<p th:if="${info.integral <2500 }"><span style="color: grey">当前级别：N-下等马</span></p>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx;

    $(function() {
        var options = {
            url: prefix + "/list",
            pageSize:20,
            showSearch: false,                     // 是否显示检索信息
            showPageGo: false,               		// 是否显示跳转页
            showRefresh: false,                   // 是否显示刷新按钮
            showColumns: false,
            pagination:false,
            showToggle:false,
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "用户积分",
            columns: [
                {
                    field: 'nickName',
                    title: '用户',
                },
                {
                    field: 'integral',
                    title: '积分'
                },
                {
                    field: 'winRate',
                    title: '胜率'
                },
                {
                    field: 'mvpCount',
                    title: 'mvp次数'
                },
                {
                    field: 'kda',
                    title: '场均KDA'
                },
                {
                    field: 'maxWinCount',
                    title: '最高连胜次数'
                },
                {
                    field: 'maxLoseCount',
                    title: '最高连败次数'
                },
                {
                    field: 'lastPlayTime',
                    title: '最后比赛时间'
                },
                {
                    field: 'averageKills',
                    title: '场均击杀'
                },
                {
                    field: 'averageDeaths',
                    title: '场均阵亡'
                },
                {
                    field: 'averageAssists',
                    title: '场均助攻'
                },
                {
                    field: 'goldPerMin',
                    title: 'GPM'
                },
                {
                    field: 'xpPerMin',
                    title: 'XPM'
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>