<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('用户积分列表')" />
</head>
<style>
    ul,li{
        list-style: none;
        margin: 0;
        padding: 5px;
        width: 100%;
    }
    .box2222{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .box2222 li{
        width: calc(50% - 5px);
        margin: -10px 0 5px 0;
    }
    .liContent {
        display: flex;
        align-items: center; /*定义body的元素垂直居中*/
        /*justify-content: center; !*定义body的里的元素水平居中*!*/
    }
    .levelContent span{
        font-size: 40px;
    }
</style>
<div style="text-align: center">
</div>
<section>
    <ul class="box2222">
        <li>
            <div><img  th:src="${user.avatar}"></html></div>
        </li>
        <li class="liContent">
            <div class=" levelContent">
                <p th:if="${info.rank <=5} "><span style="color: red;">特等马</span></p>
                <p th:if="${info.rank >5 && info.rank <=10} "><span style="color:#00B83F;">上等马</span></p>
                <p th:if="${info.rank >10 && info.rank <=15} "><span style="color: #0d8ddb;">中等马</span></p>
                <p th:if="${info.rank > 5} "><span style="color: grey;">下等马</span></p>
            </div>
        </li>
        <li>
            <div>我的昵称：<span th:text="${user.nickName}"></span></div>
        </li>
        <li>
            <div>我的胜率：<span th:text="${info.winRate}"></span></div>
        </li>
        <li>
            <div>我的积分：<span th:text="${info.integral}"></span></div>
        </li>
        <li>
            <div>积分排名：<span th:text="${info.rank}" style="color: red"></span></div>
        </li>
        <li>
            <div>当前双倍次数：<span th:text="${user.doubleIntegralTimes}" style="color: red"></span></div>
        </li>
        <li>
            <div th:if="${record != null}">
                <div>今日双倍状态：<span style="font-size: 20px;color: red">已双倍</span></div>
            </div>
            <div th:if="${record == null}">
                <a class="btn btn-primary btn-rounded btn-sm" onclick="setDouble()"><i
                        class="fa "></i>&nbsp;我要双倍</a>
            </div>
        </li>
    </ul>
</section>

<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <!--<div class="col-sm-12 select-table table-striped">-->
            <!--<table id="bootstrap-table2"></table>-->
        <!--</div>-->
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>

    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx;

    $(function() {
        var options = {
            url: prefix + "/list",
            pageSize:20,
            showSearch: false,                     // 是否显示检索信息
            showPageGo: false,               		// 是否显示跳转页
            showRefresh: false,                   // 是否显示刷新按钮
            showColumns: false,
            sortName: "winRate",
            sortOrder: "desc",
            pagination:false,
            showToggle:false,
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "用户积分",
            columns: [
                {
                    field: 'nickName',
                    title: '用户',
                },
                {
                    field: 'integral',
                    title: '积分'
                },
                {
                    field: 'winRate',
                    title: '胜率'
                },
                {
                    field: 'mvpCount',
                    title: 'mvp次数'
                },
                {
                    field: 'kda',
                    title: '场均KDA'
                },
                {
                    field: 'averageKills',
                    title: '场均击杀'
                },
                {
                    field: 'averageDeaths',
                    title: '场均阵亡'
                },
                {
                    field: 'averageAssists',
                    title: '场均助攻'
                },
                {
                    field: 'goldPerMin',
                    title: 'GPM'
                },
                {
                    field: 'xpPerMin',
                    title: 'XPM'
                },
                {
                    field: 'curMaxCount',
                    title: '当前连胜/连败数'
                },
                {
                    field: 'isWin',
                    title: '连胜/连败',
                    formatter: function(value, row, index) {
                        if(value != 1){
                            return "连胜";
                        }else{
                            return "连败";
                        }
                    },
                    cellStyle: function(value, row, index) {
                        if(value != 1){
                            return {css:{"color":"green"}}
                        }else{
                            return {css:{"color":"red"}}
                        }
                    }
                },
                {
                    field: 'lastPlayTime',
                    title: '最后比赛时间'
                }
            ]
        };
        $.table.init(options);
    });

    function setDouble() {
        $.post(ctx+"/updateDoubleTimes", '', function(result) {
            if (result.code == web_status.SUCCESS) {
                $.modal.alertSuccess("双倍成功");
                setTimeout(function(){
                    $.modal.closeLoading();
                    $.modal.reload();
                }, 1000);
            } else {
                $.modal.alertError(result.msg);
                setTimeout(function(){
                    $.modal.closeLoading();
                }, 1000);
            }
        });

    }
</script>
</body>
</html>