<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('用户积分列表')" />
</head>

<th:block th:include="include :: myInfo" />
<body class="gray-bg">
<div id="topContainer-div" class="container-div" >
    <div class="row">
        <div class="col-sm-12 select-table table-striped" >
            <table id="bootstrap-table1"></table>
        </div>

    </div>
</div>
<div class="container-div">
    <div class="row">
        <!--<div class="col-sm-12 select-table table-striped">-->
            <!--<table id="bootstrap-table2"></table>-->
        <!--</div>-->
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table2"></table>
        </div>

    </div>
</div>

<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx;

    $(function() {
        if(!$.common.isMobile()){
            $("#topContainer-div").css("height", "17%");
        }else {
            $("#topContainer-div").css("height", "65%");
        }
        var options = {
            id:"bootstrap-table2",
            url: prefix + "/list",
            pageSize:15,
            showSearch: false,                     // 是否显示检索信息
            showPageGo: false,               		// 是否显示跳转页
            showRefresh: false,                   // 是否显示刷新按钮
            showColumns: false,
            sortName: "winRate",
            sortOrder: "desc",
            pagination:true,
            showToggle:false,
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "用户积分",
            columns: [
                {
                    field: 'userId',
                    title: '用户ID',
                    visible: false
                },
                {
                    field: 'nickName',
                    title: '用户',
                },
                {
                    field: 'integral',
                    title: '积分'
                },
                {
                    field: 'winRate',
                    title: '胜率'
                },
                {
                    field: 'mvpCount',
                    title: 'mvp次数'
                },
                {
                    field: 'kda',
                    title: '场均KDA'
                },
                {
                    field: 'averageKills',
                    title: '场均击杀'
                },
                {
                    field: 'averageDeaths',
                    title: '场均阵亡'
                },
                {
                    field: 'averageAssists',
                    title: '场均助攻'
                },
                {
                    field: 'goldPerMin',
                    title: 'GPM'
                },
                {
                    field: 'xpPerMin',
                    title: 'XPM'
                },
                {
                    field: 'curMaxCount',
                    title: '当前连胜/连败数'
                },
                {
                    field: 'isWin',
                    title: '连胜/连败',
                    formatter: function(value, row, index) {
                        if(value != 1){
                            return "连胜";
                        }else{
                            return "连败";
                        }
                    },
                    cellStyle: function(value, row, index) {
                        if(value != 1){
                            return {css:{"color":"green"}}
                        }else{
                            return {css:{"color":"red"}}
                        }
                    }
                },
                {
                    field: 'lastPlayTime',
                    title: '最后比赛时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="gotoDetail(\'' + row.userId + '\')"><i class="fa "></i>详情</a> ');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });

    $(function() {
        var options = {
            id:"bootstrap-table1",
            url: prefix + "/topList",
            pageSize:3,
            showSearch: false,                     // 是否显示检索信息
            showPageGo: false,               		// 是否显示跳转页
            showRefresh: false,                   // 是否显示刷新按钮
            showColumns: false,
            sortName: "winRate",
            sortOrder: "desc",
            pagination:false,
            showToggle:false,
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "TOP榜单",
            columns: [
                {
                    field: 'integral',
                    title: '积分榜',
                },
                {
                    field: 'winRate',
                    title: '胜率榜'
                },
                {
                    field: 'kad',
                    title: 'KAD榜'
                },
                {
                    field: 'winningStreak',
                    title: '连胜榜'
                },
                {
                    field: 'killsPerGame',
                    title: '击杀榜'
                },
                {
                    field: 'deathPerGame',
                    title: '死亡最少榜'
                },
                {
                    field: 'assistsPerGame',
                    title: '助攻榜'
                }
            ]
        };
        $.table.init(options);
    });

    function setDouble() {
        $.post(ctx+"/updateDoubleTimes", '', function(result) {
            if (result.code == web_status.SUCCESS) {
                $.modal.alertSuccess("双倍成功");
                setTimeout(function(){
                    $.modal.closeLoading();
                    $.modal.reload();
                }, 1000);
            } else {
                $.modal.alertError(result.msg);
                setTimeout(function(){
                    $.modal.closeLoading();
                }, 1000);
            }
        });

    }
    function gotoDetail(accountId) {
        window.location.href = prefix +"/playRecord?accountId="+accountId;
    }
</script>
</body>
</html>