<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户积分列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>积分：</label>
                                <input type="text" name="integral"/>
                            </li>
                            <li>
                                <label>胜率：</label>
                                <input type="text" name="winRate"/>
                            </li>
                            <li>
                                <label>mvp次数：</label>
                                <input type="text" name="mvpCount"/>
                            </li>
                            <li>
                                <label>场均KDA：</label>
                                <input type="text" name="kda"/>
                            </li>
                            <li>
                                <label>最高连胜次数：</label>
                                <input type="text" name="maxWinCount"/>
                            </li>
                            <li>
                                <label>最高连败次数：</label>
                                <input type="text" name="maxLoseCount"/>
                            </li>
                            <li class="select-time">
                                <label>最后比赛时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginLastPlayTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endLastPlayTime]"/>
                            </li>
                            <li>
                                <label>场均击杀：</label>
                                <input type="text" name="averageKills"/>
                            </li>
                            <li>
                                <label>场均阵亡：</label>
                                <input type="text" name="averageDeaths"/>
                            </li>
                            <li>
                                <label>场均助攻：</label>
                                <input type="text" name="averageAssists"/>
                            </li>
                            <li>
                                <label>GPM：</label>
                                <input type="text" name="goldPerMin"/>
                            </li>
                            <li>
                                <label>XPM：</label>
                                <input type="text" name="xpPerMin"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:report:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:report:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:report:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:report:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:report:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:report:remove')}]];
        var prefix = ctx + "system/report";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "用户积分",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'userId',
                    title: '用户id',
                    visible: false
                },
                {
                    field: 'integral',
                    title: '积分'
                },
                {
                    field: 'winRate',
                    title: '胜率'
                },
                {
                    field: 'mvpCount',
                    title: 'mvp次数'
                },
                {
                    field: 'kda',
                    title: '场均KDA'
                },
                {
                    field: 'maxWinCount',
                    title: '最高连胜次数'
                },
                {
                    field: 'maxLoseCount',
                    title: '最高连败次数'
                },
                {
                    field: 'lastPlayTime',
                    title: '最后比赛时间'
                },
                {
                    field: 'averageKills',
                    title: '场均击杀'
                },
                {
                    field: 'averageDeaths',
                    title: '场均阵亡'
                },
                {
                    field: 'averageAssists',
                    title: '场均助攻'
                },
                {
                    field: 'goldPerMin',
                    title: 'GPM'
                },
                {
                    field: 'xpPerMin',
                    title: 'XPM'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>